/* You can add global styles to this file, and also import other style files */
/* src/styles.css (Arquivo de Estilos Global) */

/* Importação da fonte para todo o projeto */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Reset e configurações globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f4f7f9;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  min-height: 100vh;
}